{% extends 'main_template.html' %}


{% block detail %}
{% load static %}
<a href="{% url 'the-main-page' %}"><h4>Return</h4></a>
<h1>{{ book.title }}</h1>
<h2>{{ book.date }}</h2>
{% if book.book_image %}
    <img src="{{ book.book_image.url }}" width="150" height="200">
{% else %}
    <p></p>
{% endif %}
<h3>{{ book.text }}</h3>
<h4>{{ book.authors.all }}</h4>
{{ book.rate }}
{% for i in range %}
    {% if book.rate >= i %}
        <a href="{% url 'add-rate-location' slug=book.slug rate=i location=1 %}">
            <span class="fa fa-star checked"></span>
        </a>
    {% else %}
        <a href="{% url 'add-rate-location' slug=book.slug rate=i location=1 %}">
            <span class="fa fa-star"></span>
        </a>
    {% endif %}
{% endfor %}
{% for comment in book.comments.all %}
<div id="block-comment-{{ comment.id }}">
    <h4>{{ comment.text }}</h4>
    <h5>{{ comment.date }}</h5>
    <h6>{{ comment.author }}</h6>
    <h4 class="like-comment" id="comment-{{ comment.id }}">&#128151: {{ comment.likes }}</h4>

    {% if comment.is_owner %}
    <a href="{% url 'delete-comment' id=comment.id %}">
        <i><input class="btn-danger" type="button" value="Удалить комментарий"></i>
    </a>
    <a href="{% url 'update-comment' id=comment.id %}">
        <i><input class="btn-light" type="button" value="Редактировать комментарий"></i>
    </a>
    {% endif %}
    {% if comment.is_liked %}
        <h6><font color="red">Вам понравился этот комментарий</font></h6>
    {% endif %}
    <h5>{{ comment.users_like.all }}</h5>
</div>
{% endfor %}
<script src="{% static 'static.js' %}"></script>

{% if user.is_authenticated %}
<form action="{% url 'add-comment' slug=book.slug %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить комментарий">
</form>
{% endif %}

{% endblock %}

