{% extends 'main_template.html' %}

{% block genre %}

{{ user }}

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Genre <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        {% for genre in gen %}
            <li><a href="{% url 'page-genre' genre=genre %}">{{ genre }}</a></li>
        {% endfor %}
    </ul>
</div>

    {% for b in books %}
        <a href="{% url 'book-detail' slug=b.slug %}"><h1>{{ b.title }}</h1></a>
        <h2>{{ b.date }}</h2>
        <h3>{{ b.text }}</h3>
        <h4>Authors: {{ b.authors.all }}</h4>
        <h3>Genres: {{ b.genre.all|join:", " }}</h3>

        <p></p>
        {% if b.is_owner %}
            <a href="{% url 'delete-book' slug=b.slug %}">
                <i><input class="btn-danger" type="button" value="Delete Book"></i>
            </a>
            <a href="{% url 'update-book' slug=b.slug %}">
                <i><input class="btn-light" type="button" value="Update Book"></i>
            </a>
        {% endif %}
    {% endfor %}

{% endblock %}
